#footer,
#header {
  position: absolute;
  padding: 24px;
  z-index: 1;
  width: 100%; }

#footer {
  position: absolute;
  bottom: 0; }

.left {
  display: inline-block;
  margin-right: 100px;
  vertical-align: top; }
  @media (max-width: 667px) {
    .left {
      margin-right: 22px; } }

.right {
  display: inline-block; }

#footer .right {
  display: inline-block; }
  @media (max-width: 667px) {
    #footer .right {
      width: 190px; } }

.right-right {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 57px;
  margin: 24px; }

.right-right {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 57px;
  margin: 24px;
  z-index: 2; }

.right-right a:hover {
  border-bottom: none; }

.right-right img {
  max-height: 57px; }
