.btn {
  position: fixed;
  right: 18px;
  top: 18px;
  cursor: help;
  z-index: 2; }

#custom_modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  /* Fallback color */
  /* Black w/ opacity */ }

.modal_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(218, 218, 218, 0.9); }
  @media (max-width: 667px) {
    .modal_area {
      min-height: 100%; } }

.close_btn {
  cursor: pointer;
  position: fixed;
  display: block;
  right: 18px;
  top: 18px;
  z-index: 2; }

.modal_content {
  margin: 18px 80px 18px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px; }
  @media (max-width: 667px) {
    .modal_content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 18px 60px 18px 110px; } }

.info-first,
.info-second {
  margin-right: 20px; }

.info-first {
  width: 60%; }
  @media (max-width: 667px) {
    .info-first {
      width: 100%; } }

@media (max-width: 667px) {
  .info-second,
  .info-thrid {
    margin-top: 18px; } }

.info-thrid {
  width: 15%; }
  @media (max-width: 667px) {
    .info-thrid {
      width: 100%; } }

.break {
  display: none; }
  @media (max-width: 1000px) {
    .break {
      display: inline-block; } }
  @media (max-width: 667px) {
    .break {
      display: none; } }
