footer,
nav {
  z-index: 2; }

nav h1 {
  position: fixed;
  top: 18px;
  left: 18px; }

footer h2 {
  position: fixed;
  bottom: 18px;
  right: 18px; }

.button-row {
  position: fixed;
  bottom: 18px;
  left: 18px; }

.button.button--next {
  position: absolute;
  right: 0;
  cursor: e-resize; }

.button.button--previous {
  position: absolute;
  left: 0;
  cursor: w-resize; }
