.btn {
  position: fixed;
  right: 18px;
  top: 18px;
  cursor: help;
  z-index: 2;
}

#custom_modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  // background-color: rgb(0,0,0);
  /* Fallback color */
  // background-color: rgba(10,10,10,0.92);
  /* Black w/ opacity */
}

.modal_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(218,218,218,0.90);
  @include resize(small) {
    min-height: 100%;
  }
}

.close_btn {
  cursor: pointer;
  position: fixed;
  display: block;
  right: 18px;
  top: 18px;
  z-index: 2;
}

.modal_content {
  margin: 18px 80px 18px 140px;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  @include resize(small) {
    flex-direction: column;
    justify-content: center;
    margin: 18px 60px 18px 110px;
  }
}

.info-first,
.info-second {
  margin-right: 20px;
}

.info-first {
  width: 50%;
  @include resize(small) {
    width: 100%;
  }
}

.info-second,
.info-thrid {
  width: 25%;
  @include resize(small) {
    margin-top: 18px;
    width: 100%;
  }
}

.break {
  display: none;
  @include resize(mid) {
    display: inline-block;
  }
  @include resize(small) {
    display: none;
  }
}