@mixin resize($point) {
  @if $point == large {
    @media (max-width: 1600px) {
      @content;
    }
  } @else 
  if $point == mid {
    @media (max-width: 1000px) {
      @content;
    }
  } @else 
  if $point == small {
    @media (max-width: 667px) {
      @content;
    }
  }
}
@import 'normalize';
@import 'typography';
@import 'nav';
@import 'slide';
@import 'info';

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}